@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap");
:root {
  --mobile_width: 375px;
  --desktop_width: 1440px;
  --softBlue: hsl(231, 69%, 60%);
  --softRed: hsl(0, 94%, 66%);
  --grayishBlue: hsl(229, 8%, 60%);
  --veryDarkBlue: hsl(229, 31%, 21%);
  --veryDarkBlue-less-opaque: hsla(229, 31%, 21%, 0.9);
  --fontSize: 18px;
  --light-weight: 400;
  --semi-bold: 500;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

body {
  font-family: "Rubik", sans-serif;
  min-height: 100vh;
  width: 100%;
  position: relative;
  background-color: white;
  overflow-x: hidden;
}

body div.navigation-links-wrapper.mobile-navigation-wrapper {
  padding: 3rem 3rem;
  position: fixed;
  left: 0;
  top: 0;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  width: 100%;
  height: 100vh;
  background-color: var(--veryDarkBlue-less-opaque);
  z-index: 999999;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

body div.navigation-links-wrapper.mobile-navigation-wrapper div.nav-top-sec {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 4rem;
  border-bottom: 1px solid var(--grayishBlue);
}

body div.navigation-links-wrapper.mobile-navigation-wrapper div.nav-top-sec .close-cross {
  cursor: pointer;
}

body div.navigation-links-wrapper.mobile-navigation-wrapper ul.links {
  text-align: center;
  width: 100%;
  display: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body div.navigation-links-wrapper.mobile-navigation-wrapper ul.links .link {
  width: 100%;
  border-bottom: 1px solid var(--grayishBlue);
  padding: 1.5rem 0;
}

body div.navigation-links-wrapper.mobile-navigation-wrapper ul.links .link a {
  display: inline-block;
  text-decoration: none;
  padding: 0.5rem 1.4rem;
  color: white;
  -webkit-transition: color 0.2s ease-in;
  transition: color 0.2s ease-in;
  font-size: 22px;
  text-transform: uppercase;
}

body div.navigation-links-wrapper.mobile-navigation-wrapper ul.links .link a:hover {
  color: var(--softRed);
}

body div.navigation-links-wrapper.mobile-navigation-wrapper ul.links .link.login-link {
  margin-right: 0;
  border-bottom: none;
}

body div.navigation-links-wrapper.mobile-navigation-wrapper ul.links .link.login-link a {
  display: block;
  background-color: var(--softRed);
  border: 2px solid var(--softRed);
  border-radius: 5px;
  color: white;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

body div.navigation-links-wrapper.mobile-navigation-wrapper ul.links .link.login-link a:hover {
  background-color: transparent;
  color: white;
  border-color: white;
}

body div.navigation-links-wrapper.mobile-navigation-wrapper div.social-media {
  position: absolute;
  left: 0;
  bottom: 0;
  margin-bottom: 2rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body div.navigation-links-wrapper.mobile-navigation-wrapper div.social-media a {
  margin: 0.5rem 1.5rem;
}

body .whole-body-container {
  max-width: var(--desktop_width);
  margin: 1.5rem auto;
  padding: 0 1.5rem;
}

body .whole-body-container .header-navigation {
  position: relative;
  width: 100%;
  height: calc(100vh - 85vh);
  min-height: 130px;
  max-height: 135px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .whole-body-container .header-navigation .logo {
  margin-right: 1rem;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

body .whole-body-container .header-navigation .navigation-links-wrapper {
  -webkit-box-flex: 1.5;
      -ms-flex: 1.5;
          flex: 1.5;
}

body .whole-body-container .header-navigation .navigation-links-wrapper .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  list-style: none;
}

body .whole-body-container .header-navigation .navigation-links-wrapper .links .link {
  margin: 0 2rem;
}

body .whole-body-container .header-navigation .navigation-links-wrapper .links .link a {
  text-decoration: none;
  padding: 0.5rem 1.4rem;
  color: var(--veryDarkBlue);
  -webkit-transition: color 0.2s ease-in;
  transition: color 0.2s ease-in;
}

body .whole-body-container .header-navigation .navigation-links-wrapper .links .link a:hover {
  color: var(--softRed);
}

body .whole-body-container .header-navigation .navigation-links-wrapper .links .link.login-link {
  margin-left: 2.5rem;
  margin-right: 0;
}

body .whole-body-container .header-navigation .navigation-links-wrapper .links .link.login-link a {
  background-color: var(--softRed);
  border: 2px solid var(--softRed);
  border-radius: 5px;
  color: white;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

body .whole-body-container .header-navigation .navigation-links-wrapper .links .link.login-link a:hover {
  background-color: transparent;
  color: var(--softRed);
}

body .whole-body-container .header-navigation div.hamburger-menu {
  display: none;
  cursor: pointer;
}

body .whole-body-container .banner-container {
  margin-bottom: 50px;
  position: relative;
  height: calc(100vh - 15vh);
  min-height: calc(900px - 130px);
  max-height: calc(1080px - 135px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .whole-body-container .banner-container .left-banner-container_section {
  width: 50%;
  margin-right: 3.5rem;
}

body .whole-body-container .banner-container .left-banner-container_section h1.banner-title {
  font-size: 50px;
  font-weight: var(--semi-bold);
  letter-spacing: 0.02em;
  line-height: 1em;
  color: var(--veryDarkBlue);
}

body .whole-body-container .banner-container .left-banner-container_section p.banner-detail {
  font-size: 20px;
  font-weight: var(--light-weight);
  color: var(--grayishBlue);
  line-height: 1.5em;
  margin: 2rem 0;
}

body .whole-body-container .banner-container .left-banner-container_section .get-it-on-links {
  margin-bottom: 2rem;
}

body .whole-body-container .banner-container .left-banner-container_section .get-it-on-links a {
  display: inline-block;
  padding: 0.9rem 1.5rem;
  border-radius: 5px;
  text-decoration: none;
  font-weight: var(--semi-bold);
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

body .whole-body-container .banner-container .left-banner-container_section .get-it-on-links a:first-of-type {
  margin-right: 1.5rem;
  background-color: var(--softBlue);
  border: 2px solid var(--softBlue);
  color: white;
}

body .whole-body-container .banner-container .left-banner-container_section .get-it-on-links a:last-of-type {
  background-color: whitesmoke;
  color: var(--veryDarkBlue);
  border: 2px solid whitesmoke;
  box-shadow: 0px 6px 9px -2px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 6px 9px -2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 6px 9px -2px rgba(0, 0, 0, 0.2);
}

body .whole-body-container .banner-container .left-banner-container_section .get-it-on-links a:hover {
  background-color: transparent;
  border: 2px solid var(--veryDarkBlue);
  color: var(--veryDarkBlue);
  -webkit-box-shadow: none;
          box-shadow: none;
}

body .whole-body-container .banner-container .right-banner-container_section {
  position: relative;
  width: 50%;
  line-height: 0;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

body .whole-body-container .banner-container .right-banner-container_section .iPad-xd-image-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  place-items: center;
  line-height: 0;
}

body .whole-body-container .banner-container .right-banner-container_section .iPad-xd-image-wrapper img {
  height: 600px;
  width: auto;
}

body .whole-body-container .banner-container .right-banner-container_section .iPad-xd-image-wrapper::after {
  position: absolute;
  bottom: 0;
  right: -150%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: -1;
  content: "";
  height: 450px;
  width: 150%;
  background-color: var(--softBlue);
  border-radius: 300px 0 0 300px;
}

body .whole-body-container .feature-container {
  margin: 2rem 0;
  position: relative;
}

body .whole-body-container .feature-container .feature-container_top-infos {
  text-align: center;
}

body .whole-body-container .feature-container .feature-container_top-infos h2.feature-header {
  font-size: 35px;
  color: var(--veryDarkBlue);
  font-weight: var(--semi-bold);
  margin: 1.5rem;
}

body .whole-body-container .feature-container .feature-container_top-infos p.feature-detail {
  font-size: 20px;
  font-weight: var(--light-weight);
  color: var(--grayishBlue);
  line-height: 1.5em;
  margin: 1.5rem 0;
}

body .whole-body-container .feature-container .feature-tabs {
  width: 80%;
  max-width: 1100px;
  min-width: 700px;
  padding-right: 3.5rem;
  margin: 3.5rem auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  color: var(--veryDarkBlue);
  border-bottom: 1px solid #e0e0e0;
}

body .whole-body-container .feature-container .feature-tabs div.tab {
  cursor: pointer;
}

body .whole-body-container .feature-container .feature-tabs div.tab h4 {
  position: relative;
  font-weight: var(--light-weight);
  letter-spacing: 0.04em;
  padding: 1.9rem 2rem;
  -webkit-transition: color 0.3s ease-out;
  transition: color 0.3s ease-out;
}

body .whole-body-container .feature-container .feature-tabs div.tab.active h4::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  height: 4px;
  width: 100%;
  background-color: var(--softRed);
  border-radius: 10px;
}

body .whole-body-container .feature-container .feature-tabs div.tab:hover h4 {
  color: var(--softRed);
}

body .whole-body-container .feature-container .individual-tab-details {
  position: relative;
  min-height: 450px;
  margin-top: 4rem;
}

body .whole-body-container .feature-container .individual-tab-details article.tab1-details {
  display: none !important;
}

body .whole-body-container .feature-container .individual-tab-details article.tab2-details {
  display: none !important;
}

body .whole-body-container .feature-container .individual-tab-details article.tab3-details {
  display: none !important;
}

body .whole-body-container .feature-container .individual-tab-details article.tab1-details.active {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

body .whole-body-container .feature-container .individual-tab-details article.tab2-details.active {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

body .whole-body-container .feature-container .individual-tab-details article.tab3-details.active {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

body .whole-body-container .feature-container .individual-tab-details article.tab-details {
  position: absolute;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
}

body .whole-body-container .feature-container .individual-tab-details article.tab-details .tab-details_left-section {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-height: 450px;
}

body .whole-body-container .feature-container .individual-tab-details article.tab-details .tab-details_left-section img {
  height: 80%;
}

body .whole-body-container .feature-container .individual-tab-details article.tab-details .tab-details_left-section::after {
  position: absolute;
  bottom: 0;
  left: -150%;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
  z-index: -1;
  content: "";
  height: 354px;
  width: 136%;
  background-color: var(--softBlue);
  border-radius: 0 100px 100px 0;
}

body .whole-body-container .feature-container .individual-tab-details article.tab-details .tab-details_right-section {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-left: 2.5rem;
}

body .whole-body-container .feature-container .individual-tab-details article.tab-details .tab-details_right-section h2 {
  font-size: 35px;
  color: var(--veryDarkBlue);
  font-weight: var(--semi-bold);
  margin: 1rem 0;
}

body .whole-body-container .feature-container .individual-tab-details article.tab-details .tab-details_right-section p {
  font-size: 20px;
  font-weight: var(--light-weight);
  color: var(--grayishBlue);
  line-height: 1.5em;
  margin: 1rem 0;
}

body .whole-body-container .feature-container .individual-tab-details article.tab-details .tab-details_right-section a.more-info-btn {
  display: inline-block;
  padding: 0.9rem 1.5rem;
  border-radius: 5px;
  text-decoration: none;
  font-weight: var(--semi-bold);
  background-color: var(--softBlue);
  border: 2px solid var(--softBlue);
  color: white;
  margin-top: 1.3rem;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

body .whole-body-container .feature-container .individual-tab-details article.tab-details .tab-details_right-section a.more-info-btn:hover {
  background-color: transparent;
  border-color: var(--veryDarkBlue);
  color: var(--veryDarkBlue);
}

body .whole-body-container .download-extension-options-container {
  margin: 100px 0;
}

body .whole-body-container .download-extension-options-container .download-extension-options-top-info {
  text-align: center;
}

body .whole-body-container .download-extension-options-container .download-extension-options-top-info h2 {
  font-size: 35px;
  color: var(--veryDarkBlue);
  font-weight: var(--semi-bold);
  margin: 1.5rem;
}

body .whole-body-container .download-extension-options-container .download-extension-options-top-info p {
  font-size: 20px;
  font-weight: var(--light-weight);
  color: var(--grayishBlue);
  line-height: 1.5em;
  margin: 1.5rem 0;
}

body .whole-body-container .download-extension-options-container .browser-options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 4rem 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .whole-body-container .download-extension-options-container .browser-options article.browser-wrapper {
  min-height: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 1.5rem;
  box-shadow: 0px 5px 15px 0px rgba(121, 121, 121, 0.2);
  -webkit-box-shadow: 0px 5px 15px 0px rgba(121, 121, 121, 0.2);
  -moz-box-shadow: 0px 5px 15px 0px rgba(121, 121, 121, 0.2);
}

body .whole-body-container .download-extension-options-container .browser-options article.browser-wrapper .browser-logo {
  margin-bottom: 2rem;
}

body .whole-body-container .download-extension-options-container .browser-options article.browser-wrapper h3 {
  margin-bottom: 0.2rem;
  font-size: 20px;
  color: var(--veryDarkBlue);
  font-weight: var(--semi-bold);
}

body .whole-body-container .download-extension-options-container .browser-options article.browser-wrapper p {
  margin-bottom: 1rem;
  font-size: 14px;
  font-weight: var(--light-weight);
  color: var(--grayishBlue);
  line-height: 1.5em;
}

body .whole-body-container .download-extension-options-container .browser-options article.browser-wrapper .divider {
  margin: 1.5rem 0;
}

body .whole-body-container .download-extension-options-container .browser-options article.browser-wrapper a.add-to-extension-btn {
  display: inline-block;
  padding: 0.9rem 1.5rem;
  border-radius: 5px;
  text-decoration: none;
  font-weight: var(--light-weight);
  background-color: var(--softBlue);
  border: 2px solid var(--softBlue);
  color: white;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

body .whole-body-container .download-extension-options-container .browser-options article.browser-wrapper a.add-to-extension-btn:hover {
  background-color: transparent;
  border-color: var(--veryDarkBlue);
  color: var(--veryDarkBlue);
}

body .whole-body-container .download-extension-options-container .browser-options article.firefox {
  -webkit-transform: translateY(25px);
          transform: translateY(25px);
}

body .whole-body-container .download-extension-options-container .browser-options article.opera {
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
}

body .whole-body-container section.faq-container {
  margin: 150px 0;
}

body .whole-body-container section.faq-container div.faq-container-top-info {
  text-align: center;
}

body .whole-body-container section.faq-container div.faq-container-top-info h2 {
  font-size: 35px;
  color: var(--veryDarkBlue);
  font-weight: var(--semi-bold);
  margin: 1.5rem;
}

body .whole-body-container section.faq-container div.faq-container-top-info p {
  font-size: 20px;
  font-weight: var(--light-weight);
  color: var(--grayishBlue);
  line-height: 1.5em;
  margin: 1.5rem 0;
}

body .whole-body-container section.faq-container div.questions-answers-container {
  width: 40%;
  margin: 0 auto;
  margin-top: 4rem;
}

body .whole-body-container section.faq-container div.questions-answers-container details.individual_q-and-a_wrapper {
  padding: 1.5rem 0;
  border-bottom: 1px solid #e6e6e6;
}

body .whole-body-container section.faq-container div.questions-answers-container details.individual_q-and-a_wrapper summary.question-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .whole-body-container section.faq-container div.questions-answers-container details.individual_q-and-a_wrapper summary.question-wrapper h3 {
  font-size: 18px;
  color: var(--veryDarkBlue);
  font-weight: var(--light-weight);
  -webkit-transition: color 0.2s ease-out;
  transition: color 0.2s ease-out;
}

body .whole-body-container section.faq-container div.questions-answers-container details.individual_q-and-a_wrapper summary.question-wrapper img {
  color: var(--blue);
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

body .whole-body-container section.faq-container div.questions-answers-container details.individual_q-and-a_wrapper summary.question-wrapper:hover h3 {
  color: var(--softRed);
}

body .whole-body-container section.faq-container div.questions-answers-container details.individual_q-and-a_wrapper summary.question-wrapper.active img {
  color: var(--softRed);
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

body .whole-body-container section.faq-container div.questions-answers-container details.individual_q-and-a_wrapper p {
  margin-top: 2rem;
  font-size: 18px;
  font-weight: var(--light-weight);
  color: var(--grayishBlue);
  line-height: 1.7em;
}

body .whole-body-container section.faq-container div.questions-answers-container details.individual_q-and-a_wrapper:first-of-type {
  border-top: 1px solid #e6e6e6;
}

body .whole-body-container section.faq-container a.more-info-btn {
  display: inline-block;
  padding: 0.9rem 1.5rem;
  border-radius: 5px;
  text-decoration: none;
  font-weight: var(--light-weight);
  background-color: var(--softBlue);
  border: 2px solid var(--softBlue);
  color: white;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

body .whole-body-container section.faq-container div.more-info-btn_wrapper {
  text-align: center;
  margin-top: 3rem;
}

body .whole-body-container section.faq-container div.more-info-btn_wrapper a.more-info-btn:hover {
  background-color: transparent;
  border-color: var(--veryDarkBlue);
  color: var(--veryDarkBlue);
}

body section.footer-section-container {
  background-color: var(--softBlue);
}

body section.footer-section-container div.footer-contact-us-wrapper {
  height: 300px;
  display: -ms-grid;
  display: grid;
  place-items: center;
  max-width: var(--desktop_width);
  margin: 0 auto;
  padding: 3rem 1.5rem;
  text-align: center;
}

body section.footer-section-container div.footer-contact-us-wrapper h3 {
  font-size: 17px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  font-weight: var(--light-weight);
  color: whitesmoke;
}

body section.footer-section-container div.footer-contact-us-wrapper h2 {
  margin-top: 1.5rem;
  font-size: 35px;
  color: white;
  font-weight: var(--semi-bold);
}

body section.footer-section-container div.footer-contact-us-wrapper form.contact-us-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 1.5rem;
}

body section.footer-section-container div.footer-contact-us-wrapper form.contact-us-form input {
  font-size: 16px;
  padding: 0.8rem 0.5rem;
  width: 260px;
  border: none;
  background-color: white;
  border-radius: 5px;
  border: 2px solid white;
  margin-right: 1rem;
}

body section.footer-section-container div.footer-contact-us-wrapper form.contact-us-form button.form-submit-btn {
  background-color: var(--softRed);
  border: 2px solid var(--softRed);
  border-radius: 5px;
  color: white;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  text-decoration: none;
  -webkit-transition: color 0.2s ease-in;
  transition: color 0.2s ease-in;
  font-size: 16px;
  padding: 0.8rem 1rem;
}

body section.footer-section-container div.footer-contact-us-wrapper form.contact-us-form button.form-submit-btn:hover {
  background-color: white;
  color: var(--softRed);
}

body section.footer-foot-wrapper {
  background-color: var(--veryDarkBlue);
}

body section.footer-foot-wrapper .footer-foot-wrapper_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  max-width: var(--desktop_width);
  margin: 0 auto;
  padding: 3rem 1.5rem;
}

body section.footer-foot-wrapper .footer-foot-wrapper_content .links-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 10rem;
  list-style: none;
}

body section.footer-foot-wrapper .footer-foot-wrapper_content .links-wrapper .link {
  margin: 0 2.5rem;
}

body section.footer-foot-wrapper .footer-foot-wrapper_content .links-wrapper .link a {
  text-decoration: none;
  text-transform: uppercase;
  color: whitesmoke;
  font-size: 14px;
  -webkit-transition: color 0.2s ease-out;
  transition: color 0.2s ease-out;
}

body section.footer-foot-wrapper .footer-foot-wrapper_content .links-wrapper .link a:hover {
  color: var(--softRed);
}

@media only screen and (max-width: 1444px) {
  body .whole-body-container {
    padding: 0 3rem;
  }
  body section.footer-foot-wrapper .footer-foot-wrapper_content {
    padding: 3rem 3rem;
  }
}

@media only screen and (max-width: 1290px) {
  body .whole-body-container .banner-container .left-banner-container_section {
    width: 55%;
  }
  body .whole-body-container .banner-container .left-banner-container_section h1.banner-title {
    font-size: clamp(2.1875rem, calc(1.7942rem + 1.573vw), 3.0625rem);
  }
  body .whole-body-container .banner-container .left-banner-container_section p.banner-detail {
    font-size: clamp(0.875rem, calc(0.7065rem + 0.6742vw), 1.25rem);
  }
  body .whole-body-container .banner-container .left-banner-container_section .get-it-on-links a {
    padding: 0.7rem 1.2rem;
  }
  body .whole-body-container .banner-container .right-banner-container_section {
    width: 45%;
  }
  body .whole-body-container .banner-container .right-banner-container_section .iPad-xd-image-wrapper img {
    max-height: 500px;
    height: 90%;
    min-height: 400px;
  }
  body .whole-body-container .banner-container .right-banner-container_section .iPad-xd-image-wrapper::after {
    height: 335px;
  }
  body .whole-body-container .feature-container .feature-container_top-infos h2.feature-header {
    font-size: clamp(1.5625rem, calc(1.2816rem + 1.1236vw), 2.1875rem);
  }
  body .whole-body-container .feature-container .feature-container_top-infos p.feature-detail {
    font-size: clamp(0.875rem, calc(0.7065rem + 0.6742vw), 1.25rem);
  }
  body .whole-body-container .feature-container .individual-tab-details {
    min-height: 330px;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
  }
  body .whole-body-container .feature-container .individual-tab-details article.tab-details .tab-details_left-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    min-height: 350px;
    height: 100%;
    width: 100%;
    min-width: 310px;
  }
  body .whole-body-container .feature-container .individual-tab-details article.tab-details .tab-details_left-section img {
    min-width: 300px;
    width: 90%;
    height: auto;
  }
  body .whole-body-container .feature-container .individual-tab-details article.tab-details .tab-details_left-section::after {
    height: 200px;
  }
  body .whole-body-container .feature-container .individual-tab-details article.tab-details .tab-details_right-section h2 {
    font-size: clamp(1.375rem, calc(1.1503rem + 0.8989vw), 1.875rem);
  }
  body .whole-body-container .feature-container .individual-tab-details article.tab-details .tab-details_right-section p {
    font-size: clamp(1.0625rem, calc(0.9782rem + 0.3371vw), 1.25rem);
  }
  body .whole-body-container .feature-container .individual-tab-details article.tab-details .tab-details_right-section a.more-info-btn {
    padding: 0.7rem 1.2rem;
    margin-top: 0.5rem;
  }
  body .whole-body-container .download-extension-options-container .download-extension-options-top-info h2 {
    font-size: clamp(1.5625rem, calc(1.2816rem + 1.1236vw), 2.1875rem);
  }
  body .whole-body-container .download-extension-options-container .download-extension-options-top-info p {
    font-size: clamp(0.875rem, calc(0.7065rem + 0.6742vw), 1.25rem);
  }
  body .whole-body-container .download-extension-options-container .browser-options {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  body .whole-body-container .download-extension-options-container .browser-options article.browser-wrapper {
    margin: 1rem 4rem;
  }
  body .whole-body-container .download-extension-options-container .browser-options article.browser-wrapper a.add-to-extension-btn {
    padding: 0.7rem 1.2rem;
  }
  body .whole-body-container .download-extension-options-container .browser-options article.firefox {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  body .whole-body-container .download-extension-options-container .browser-options article.opera {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  body .whole-body-container section.faq-container div.faq-container-top-info h2 {
    font-size: clamp(1.5625rem, calc(1.2816rem + 1.1236vw), 2.1875rem);
  }
  body .whole-body-container section.faq-container div.faq-container-top-info p {
    font-size: clamp(0.875rem, calc(0.7065rem + 0.6742vw), 1.25rem);
  }
  body .whole-body-container section.faq-container div.questions-answers-container {
    width: 60%;
    min-width: 450px;
  }
  body .whole-body-container section.faq-container a.more-info-btn {
    padding: 0.7rem 1.2rem;
    margin-top: 0rem;
  }
  body .whole-body-container section.footer-section-container div.footer-contact-us-wrapper h2 {
    font-size: clamp(2.1875rem, calc(1.7942rem + 1.573vw), 3.0625rem);
  }
  body .whole-body-container section.footer-section-container div.footer-contact-us-wrapper form.contact-us-form input {
    width: 200px;
    padding: 0.5rem;
  }
  body .whole-body-container section.footer-section-container div.footer-contact-us-wrapper form.contact-us-form button.form-submit-btn {
    padding: 5rem;
  }
}

@media only screen and (max-width: 915px) {
  body div.navigation-links-wrapper.mobile-navigation-wrapper.active {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  body .whole-body-container {
    min-width: var(--mobile_width);
  }
  body .whole-body-container .header-navigation .navigation-links-wrapper {
    display: none;
  }
  body .whole-body-container .header-navigation div.hamburger-menu {
    display: block;
    cursor: pointer;
  }
  body .whole-body-container .banner-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  body .whole-body-container .banner-container .left-banner-container_section {
    width: 100%;
    margin-right: 0;
    text-align: center;
  }
  body .whole-body-container .banner-container .right-banner-container_section {
    width: 100%;
  }
  body .whole-body-container .banner-container .right-banner-container_section .iPad-xd-image-wrapper img {
    width: 100%;
    min-width: 100px;
    height: auto;
    min-height: auto;
    max-height: auto;
  }
  body .whole-body-container .banner-container .right-banner-container_section .iPad-xd-image-wrapper::after {
    height: clamp(9.375rem, calc(0.3944rem + 35.9223vw), 20.9375rem);
  }
  body .whole-body-container .feature-container .feature-tabs {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-right: 0;
    max-width: 100%;
    min-width: 100%;
  }
  body .whole-body-container .feature-container .feature-tabs div.tab {
    width: 100%;
    border-bottom: 1px solid #e0e0e0;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  body .whole-body-container .feature-container .individual-tab-details {
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    min-height: 600px;
  }
  body .whole-body-container .feature-container .individual-tab-details article.tab-details {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  body .whole-body-container .feature-container .individual-tab-details article.tab-details .tab-details_left-section {
    height: 70%;
    min-height: 200px;
  }
  body .whole-body-container .feature-container .individual-tab-details article.tab-details .tab-details_left-section img {
    height: 90%;
    width: auto;
    min-width: auto;
  }
  body .whole-body-container .feature-container .individual-tab-details article.tab-details .tab-details_right-section {
    margin-top: 2.5rem;
    margin-left: 0;
    height: 30%;
    min-height: 200px;
    max-height: 250px;
    text-align: center;
  }
  body .whole-body-container section.faq-container div.questions-answers-container {
    width: 80%;
    min-width: 300px;
  }
  body section.footer-section-container div.footer-contact-us-wrapper {
    min-width: var(--mobile_width);
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    min-height: 300px;
  }
  body section.footer-section-container div.footer-contact-us-wrapper form.contact-us-form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body section.footer-section-container div.footer-contact-us-wrapper form.contact-us-form input {
    margin-right: 0;
  }
  body section.footer-section-container div.footer-contact-us-wrapper form.contact-us-form button.form-submit-btn {
    margin-top: 1rem;
    width: 260px;
  }
  body section.footer-foot-wrapper .footer-foot-wrapper_content {
    min-width: var(--mobile_width);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body section.footer-foot-wrapper .footer-foot-wrapper_content .logo-wrapper {
    margin-bottom: 1.5rem;
  }
  body section.footer-foot-wrapper .footer-foot-wrapper_content .links-wrapper {
    margin-left: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body section.footer-foot-wrapper .footer-foot-wrapper_content .links-wrapper .link {
    margin: 1rem 0;
  }
  body section.footer-foot-wrapper .footer-foot-wrapper_content .links-wrapper .link a {
    font-size: 20px;
  }
}

@media only screen and (max-width: 450px) {
  body .whole-body-container {
    max-width: var(--mobile_width);
  }
  body .whole-body-container .header-navigation {
    height: calc(100vh - 90vh);
    min-height: 90px;
    max-height: 100px;
  }
  body .whole-body-container .banner-container {
    height: calc(100vh - 10vh);
    min-height: calc(900px - 90px);
    max-height: calc(1080px - 100px);
    margin-bottom: 0;
  }
  body .whole-body-container .banner-container .left-banner-container_section h1.banner-title {
    font-size: 25px;
  }
  body .whole-body-container .banner-container .left-banner-container_section .get-it-on-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  body .whole-body-container .banner-container .left-banner-container_section .get-it-on-links a {
    padding: 0.5rem;
    font-size: 14px;
  }
  body .whole-body-container .banner-container .left-banner-container_section .get-it-on-links a:first-of-type {
    margin-right: 0;
  }
  body .whole-body-container .feature-container .individual-tab-details article.tab1-details .tab-details_left-section img {
    height: 65%;
  }
  body .whole-body-container .feature-container {
    margin: 5rem 0;
  }
  body .whole-body-container .download-extension-options-container {
    margin: 5rem 0;
  }
  body .whole-body-container section.faq-container {
    margin: 5rem 0;
  }
  body .whole-body-container section.faq-container div.questions-answers-container {
    width: 100%;
    min-width: 100%;
  }
  body section.footer-section-container div.footer-contact-us-wrapper {
    max-width: var(--mobile_width);
  }
  body section.footer-foot-wrapper .footer-foot-wrapper_content {
    max-width: var(--mobile_width);
  }
}
/*# sourceMappingURL=hero.css.map */