@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap");
:root {
  --mobile_width: 375px;
  --desktop_width: 1440px;

  // colors
  // ! #Primary colors
  --softBlue: hsl(231, 69%, 60%);
  --softRed: hsl(0, 94%, 66%);

  //   !# Neutral colors
  --grayishBlue: hsl(229, 8%, 60%);
  --veryDarkBlue: hsl(229, 31%, 21%);
  --veryDarkBlue-less-opaque: hsla(229, 31%, 21%, 0.9);

  //   font
  --fontSize: 18px;

  // font weights
  --light-weight: 400;
  --semi-bold: 500;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  overflow-x: hidden;
}

body {
  font-family: "Rubik", sans-serif;
  min-height: 100vh;
  width: 100%;
  position: relative;
  background-color: white;
  overflow-x: hidden;
  div.navigation-links-wrapper.mobile-navigation-wrapper {
    padding: 3rem 3rem;
    position: fixed;
    left: 0;
    top: 0;
    transform: translateY(-100%);
    width: 100%;
    height: 100vh;
    background-color: var(--veryDarkBlue-less-opaque);
    z-index: 999999;
    // backdrop-filter: opacity(50%);
    transition: 0.5s ease;
    div.nav-top-sec {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-bottom: 4rem;
      border-bottom: 1px solid var(--grayishBlue);
      .close-cross {
        cursor: pointer;
      }
    }
    ul.links {
      text-align: center;
      width: 100%;
      display: none;
      display: flex;
      align-items: center;
      justify-content: center;
      list-style: none;
      flex-direction: column;
      .link {
        width: 100%;
        border-bottom: 1px solid var(--grayishBlue);
        padding: 1.5rem 0;

        a {
          display: inline-block;
          text-decoration: none;
          padding: 0.5rem 1.4rem;
          color: white;
          transition: color 0.2s ease-in;
          font-size: 22px;
          text-transform: uppercase;
        }
        a:hover {
          color: var(--softRed);
        }
      }
      .link.login-link {
        margin-right: 0;
        border-bottom: none;
        a {
          display: block;
          background-color: var(--softRed);
          border: 2px solid var(--softRed);
          border-radius: 5px;
          color: white;
          transition: all 0.3s ease-out;
        }
        a:hover {
          background-color: transparent;
          color: white;
          border-color: white;
        }
      }
    }
    div.social-media {
      position: absolute;
      left: 0;
      bottom: 0;
      margin-bottom: 2rem;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      a {
        margin: 0.5rem 1.5rem;
      }
    }
  }
  .whole-body-container {
    max-width: var(--desktop_width);
    margin: 1.5rem auto;
    padding: 0 1.5rem;
    .header-navigation {
      position: relative;
      width: 100%;
      height: calc(100vh - 85vh);
      min-height: 130px;
      max-height: 135px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .logo {
        margin-right: 1rem;
        flex: 1;
      }
      .navigation-links-wrapper {
        flex: 1.5;
        .links {
          display: flex;
          align-items: center;
          justify-content: flex-end;
          list-style: none;
          .link {
            margin: 0 2rem;
            a {
              text-decoration: none;
              padding: 0.5rem 1.4rem;
              color: var(--veryDarkBlue);
              transition: color 0.2s ease-in;
            }
            a:hover {
              color: var(--softRed);
            }
          }
          .link.login-link {
            margin-left: 2.5rem;
            margin-right: 0;
            a {
              background-color: var(--softRed);
              border: 2px solid var(--softRed);
              border-radius: 5px;
              color: white;
              transition: all 0.3s ease-out;
            }
            a:hover {
              background-color: transparent;
              color: var(--softRed);
            }
          }
        }
      }
      div.hamburger-menu {
        display: none;
        cursor: pointer;
      }
    }
    .banner-container {
      margin-bottom: 50px;
      position: relative;
      height: calc(100vh - 15vh);
      min-height: calc(900px - 130px);
      max-height: calc(1080px - 135px);
      display: flex;
      align-items: center;
      justify-content: space-between;
      .left-banner-container_section {
        width: 50%;
        margin-right: 3.5rem;
        h1.banner-title {
          font-size: 50px;
          font-weight: var(--semi-bold);
          letter-spacing: 0.02em;
          line-height: 1em;
          color: var(--veryDarkBlue);
        }
        p.banner-detail {
          font-size: 20px;
          font-weight: var(--light-weight);
          color: var(--grayishBlue);
          line-height: 1.5em;
          margin: 2rem 0;
        }
        .get-it-on-links {
          margin-bottom: 2rem;
          a {
            display: inline-block;
            padding: 0.9rem 1.5rem;
            border-radius: 5px;
            text-decoration: none;
            font-weight: var(--semi-bold);
            transition: all 0.3s ease-out;
          }
          a:first-of-type {
            margin-right: 1.5rem;
            background-color: var(--softBlue);
            border: 2px solid var(--softBlue);
            color: white;
          }
          a:last-of-type {
            background-color: whitesmoke;
            color: var(--veryDarkBlue);
            border: 2px solid whitesmoke;
            box-shadow: 0px 6px 9px -2px rgba(0, 0, 0, 0.2);
            -webkit-box-shadow: 0px 6px 9px -2px rgba(0, 0, 0, 0.2);
            -moz-box-shadow: 0px 6px 9px -2px rgba(0, 0, 0, 0.2);
          }
          a:hover {
            background-color: transparent;
            border: 2px solid var(--veryDarkBlue);
            color: var(--veryDarkBlue);
            box-shadow: none;
          }
        }
      }
      .right-banner-container_section {
        position: relative;
        width: 50%;
        line-height: 0;
        height: max-content;
        // min-height: 650px;
        .iPad-xd-image-wrapper {
          position: relative;
          width: 100%;
          height: 100%;
          display: grid;
          place-items: center;
          line-height: 0;
          img {
            // display: none;
            height: 600px;
            width: auto;
          }
        }
        .iPad-xd-image-wrapper::after {
          position: absolute;
          bottom: 0;
          right: -150%;
          transform: translateX(-50%);
          z-index: -1;
          content: "";
          height: 450px;
          width: 150%;
          background-color: var(--softBlue);
          border-radius: 300px 0 0 300px;
        }
      }
    }

    .feature-container {
      margin: 2rem 0;
      position: relative;
      .feature-container_top-infos {
        text-align: center;
        h2.feature-header {
          font-size: 35px;
          color: var(--veryDarkBlue);
          font-weight: var(--semi-bold);
          margin: 1.5rem;
        }
        p.feature-detail {
          font-size: 20px;
          font-weight: var(--light-weight);
          color: var(--grayishBlue);
          line-height: 1.5em;
          margin: 1.5rem 0;
        }
      }
      .feature-tabs {
        width: 80%;
        max-width: 1100px;
        min-width: 700px;
        padding-right: 3.5rem;
        margin: 3.5rem auto;
        display: flex;
        align-items: center;
        justify-content: space-around;
        color: var(--veryDarkBlue);
        border-bottom: 1px solid rgb(224, 224, 224);
        div.tab {
          cursor: pointer;
          h4 {
            position: relative;
            font-weight: var(--light-weight);
            letter-spacing: 0.04em;
            padding: 1.9rem 2rem;
            transition: color 0.3s ease-out;
          }
        }
        div.tab.active {
          h4::after {
            position: absolute;
            bottom: 0;
            left: 0;
            content: "";
            height: 4px;
            width: 100%;
            background-color: var(--softRed);
            border-radius: 10px;
          }
        }
        div.tab:hover {
          h4 {
            color: var(--softRed);
          }
        }
      }
      .individual-tab-details {
        position: relative;
        min-height: 450px;
        margin-top: 4rem;
        article.tab1-details {
          display: none !important;
        }
        article.tab2-details {
          display: none !important;
        }
        article.tab3-details {
          display: none !important;
        }

        article.tab1-details.active {
          display: flex !important;
        }
        article.tab2-details.active {
          display: flex !important;
        }
        article.tab3-details.active {
          display: flex !important;
        }

        article.tab-details {
          position: absolute;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          -webkit-box-pack: justify;
          -ms-flex-pack: justify;
          justify-content: space-between;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 100%;
          height: 100%;
          .tab-details_left-section {
            position: relative;
            flex: 1;
            min-height: 450px;
            img {
              height: 80%;
            }
          }
          .tab-details_left-section::after {
            position: absolute;
            bottom: 0;
            left: -150%;
            transform: translateX(50%);
            z-index: -1;
            content: "";
            height: 354px;
            width: 136%;
            background-color: var(--softBlue);
            border-radius: 0 100px 100px 0;
          }
          .tab-details_right-section {
            flex: 1;
            margin-left: 2.5rem;
            h2 {
              font-size: 35px;
              color: var(--veryDarkBlue);
              font-weight: var(--semi-bold);
              margin: 1rem 0;
            }
            p {
              font-size: 20px;
              font-weight: var(--light-weight);
              color: var(--grayishBlue);
              line-height: 1.5em;
              margin: 1rem 0;
            }
            a.more-info-btn {
              display: inline-block;
              padding: 0.9rem 1.5rem;
              border-radius: 5px;
              text-decoration: none;
              font-weight: var(--semi-bold);
              background-color: var(--softBlue);
              border: 2px solid var(--softBlue);
              color: white;
              margin-top: 1.3rem;
              transition: all 0.3s ease-out;
            }
            a.more-info-btn:hover {
              background-color: transparent;
              border-color: var(--veryDarkBlue);
              color: var(--veryDarkBlue);
            }
          }
        }
      }
    }
    .download-extension-options-container {
      margin: 100px 0;
      .download-extension-options-top-info {
        text-align: center;
        h2 {
          font-size: 35px;
          color: var(--veryDarkBlue);
          font-weight: var(--semi-bold);
          margin: 1.5rem;
        }
        p {
          font-size: 20px;
          font-weight: var(--light-weight);
          color: var(--grayishBlue);
          line-height: 1.5em;
          margin: 1.5rem 0;
        }
      }
      .browser-options {
        display: flex;
        margin: 4rem 0;
        align-items: center;
        justify-content: center;
        article.browser-wrapper {
          min-height: 350px;
          display: flex;
          flex-direction: column;
          text-align: center;
          align-items: center;
          justify-content: center;
          margin: 0 1.5rem;
          box-shadow: 0px 5px 15px 0px rgba(121, 121, 121, 0.2);
          -webkit-box-shadow: 0px 5px 15px 0px rgba(121, 121, 121, 0.2);
          -moz-box-shadow: 0px 5px 15px 0px rgba(121, 121, 121, 0.2);

          .browser-logo {
            margin-bottom: 2rem;
          }
          h3 {
            margin-bottom: 0.2rem;
            font-size: 20px;
            color: var(--veryDarkBlue);
            font-weight: var(--semi-bold);
          }
          p {
            margin-bottom: 1rem;
            font-size: 14px;
            font-weight: var(--light-weight);
            color: var(--grayishBlue);
            line-height: 1.5em;
          }
          .divider {
            margin: 1.5rem 0;
          }
          a.add-to-extension-btn {
            display: inline-block;
            padding: 0.9rem 1.5rem;
            border-radius: 5px;
            text-decoration: none;
            font-weight: var(--light-weight);
            background-color: var(--softBlue);
            border: 2px solid var(--softBlue);
            color: white;
            transition: all 0.3s ease-out;
          }
          a.add-to-extension-btn:hover {
            background-color: transparent;
            border-color: var(--veryDarkBlue);
            color: var(--veryDarkBlue);
          }
        }
        article.firefox {
          transform: translateY(25px);
        }
        article.opera {
          transform: translateY(50px);
        }
      }
    }
    section.faq-container {
      margin: 150px 0;
      div.faq-container-top-info {
        text-align: center;
        h2 {
          font-size: 35px;
          color: var(--veryDarkBlue);
          font-weight: var(--semi-bold);
          margin: 1.5rem;
        }
        p {
          font-size: 20px;
          font-weight: var(--light-weight);
          color: var(--grayishBlue);
          line-height: 1.5em;
          margin: 1.5rem 0;
        }
      }

      div.questions-answers-container {
        width: 40%;
        margin: 0 auto;
        margin-top: 4rem;
        details.individual_q-and-a_wrapper {
          padding: 1.5rem 0;
          border-bottom: 1px solid rgb(230, 230, 230);
          summary.question-wrapper {
            display: flex;
            cursor: pointer;
            align-items: center;
            justify-content: space-between;
            h3 {
              font-size: 18px;
              color: var(--veryDarkBlue);
              font-weight: var(--light-weight);
              transition: color 0.2s ease-out;
            }
            img {
              color: var(--blue);
              transform: rotate(0deg);
              transition: all 0.2s ease-out;
            }
          }
          summary.question-wrapper:hover h3 {
            color: var(--softRed);
          }
          summary.question-wrapper.active img {
            color: var(--softRed);
            transform: rotate(-180deg);
          }
          p {
            margin-top: 2rem;
            font-size: 18px;
            font-weight: var(--light-weight);
            color: var(--grayishBlue);
            line-height: 1.7em;
          }
        }
        details.individual_q-and-a_wrapper:first-of-type {
          border-top: 1px solid rgb(230, 230, 230);
        }
      }
      a.more-info-btn {
        display: inline-block;
        padding: 0.9rem 1.5rem;
        border-radius: 5px;
        text-decoration: none;
        font-weight: var(--light-weight);
        background-color: var(--softBlue);
        border: 2px solid var(--softBlue);
        color: white;
        transition: all 0.3s ease-out;
      }
      div.more-info-btn_wrapper {
        text-align: center;
        margin-top: 3rem;
        a.more-info-btn:hover {
          background-color: transparent;
          border-color: var(--veryDarkBlue);
          color: var(--veryDarkBlue);
        }
      }
    }
  }
  section.footer-section-container {
    background-color: var(--softBlue);
    div.footer-contact-us-wrapper {
      height: 300px;
      display: grid;
      place-items: center;
      max-width: var(--desktop_width);
      margin: 0 auto;
      padding: 3rem 1.5rem;
      text-align: center;
      h3 {
        font-size: 17px;
        letter-spacing: 0.2em;
        text-transform: uppercase;
        font-weight: var(--light-weight);
        color: whitesmoke;
      }
      h2 {
        margin-top: 1.5rem;
        font-size: 35px;
        color: white;
        font-weight: var(--semi-bold);
      }
      form.contact-us-form {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 1.5rem;
        input {
          font-size: 16px;
          padding: 0.8rem 0.5rem;
          width: 260px;
          border: none;
          background-color: white;
          border-radius: 5px;
          border: 2px solid white;
          margin-right: 1rem;
        }
        button.form-submit-btn {
          background-color: var(--softRed);
          border: 2px solid var(--softRed);
          border-radius: 5px;
          color: white;
          transition: all 0.3s ease-out;
          text-decoration: none;
          transition: color 0.2s ease-in;
          font-size: 16px;
          padding: 0.8rem 1rem;
        }
        button.form-submit-btn:hover {
          background-color: white;
          color: var(--softRed);
        }
      }
    }
  }
  section.footer-foot-wrapper {
    background-color: var(--veryDarkBlue);
    .footer-foot-wrapper_content {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      max-width: var(--desktop_width);
      margin: 0 auto;
      padding: 3rem 1.5rem;
      .logo-wrapper {
        a {
          img {
          }
        }
      }
      .links-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-left: 10rem;
        list-style: none;
        .link {
          margin: 0 2.5rem;
          a {
            text-decoration: none;
            text-transform: uppercase;
            color: whitesmoke;
            font-size: 14px;
            transition: color 0.2s ease-out;
          }
          a:hover {
            color: var(--softRed);
          }
        }
      }
    }
  }
}

// mobile version
@media only screen and (max-width: 1444px) {
  body {
    .whole-body-container {
      padding: 0 3rem;
    }
    section.footer-foot-wrapper {
      .footer-foot-wrapper_content {
        padding: 3rem 3rem;
      }
    }
  }
}
@media only screen and (max-width: 1290px) {
  body {
    .whole-body-container {
      .banner-container {
        .left-banner-container_section {
          width: 55%;
          h1.banner-title {
            font-size: clamp(2.1875rem, calc(1.7942rem + 1.573vw), 3.0625rem);
          }
          p.banner-detail {
            font-size: clamp(0.875rem, calc(0.7065rem + 0.6742vw), 1.25rem);
          }
          .get-it-on-links {
            a {
              padding: 0.7rem 1.2rem;
            }
          }
        }
        .right-banner-container_section {
          width: 45%;
          .iPad-xd-image-wrapper {
            img {
              max-height: 500px;
              height: 90%;
              min-height: 400px;
            }
          }
          .iPad-xd-image-wrapper::after {
            height: 335px;
          }
        }
      }
      .feature-container {
        .feature-container_top-infos {
          h2.feature-header {
            font-size: clamp(1.5625rem, calc(1.2816rem + 1.1236vw), 2.1875rem);
          }
          p.feature-detail {
            font-size: clamp(0.875rem, calc(0.7065rem + 0.6742vw), 1.25rem);
          }
        }
        .individual-tab-details {
          min-height: 330px;
          height: max-content;
          article.tab-details {
            .tab-details_left-section {
              display: flex;
              align-items: center;
              justify-content: center;
              min-height: 350px;
              height: 100%;
              width: 100%;
              min-width: 310px;
              img {
                min-width: 300px;
                width: 90%;
                height: auto;
              }
            }
            .tab-details_left-section::after {
              height: 200px;
            }
            .tab-details_right-section {
              h2 {
                font-size: clamp(
                  1.375rem,
                  calc(1.1503rem + 0.8989vw),
                  1.875rem
                );
              }
              p {
                font-size: clamp(
                  1.0625rem,
                  calc(0.9782rem + 0.3371vw),
                  1.25rem
                );
              }
              a.more-info-btn {
                padding: 0.7rem 1.2rem;
                margin-top: 0.5rem;
              }
            }
          }
        }
      }
      .download-extension-options-container {
        .download-extension-options-top-info {
          h2 {
            font-size: clamp(1.5625rem, calc(1.2816rem + 1.1236vw), 2.1875rem);
          }
          p {
            font-size: clamp(0.875rem, calc(0.7065rem + 0.6742vw), 1.25rem);
          }
        }
        .browser-options {
          flex-wrap: wrap;
          article.browser-wrapper {
            margin: 1rem 4rem;
            a.add-to-extension-btn {
              padding: 0.7rem 1.2rem;
            }
          }
          article.firefox {
            transform: translateY(0);
          }
          article.opera {
            transform: translateY(0);
          }
        }
      }
      section.faq-container {
        div.faq-container-top-info {
          h2 {
            font-size: clamp(1.5625rem, calc(1.2816rem + 1.1236vw), 2.1875rem);
          }
          p {
            font-size: clamp(0.875rem, calc(0.7065rem + 0.6742vw), 1.25rem);
          }
        }
        div.questions-answers-container {
          width: 60%;
          min-width: 450px;
        }
        a.more-info-btn {
          padding: 0.7rem 1.2rem;
          margin-top: 0rem;
        }
      }
      section.footer-section-container {
        div.footer-contact-us-wrapper {
          h2 {
            font-size: clamp(2.1875rem, calc(1.7942rem + 1.573vw), 3.0625rem);
          }
          form.contact-us-form {
            input {
              width: 200px;
              padding: 0.5rem;
            }
            button.form-submit-btn {
              padding: 5rem;
            }
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 915px) {
  body {
    div.navigation-links-wrapper.mobile-navigation-wrapper.active {
      transform: translateY(0);
      ul.links {
      }
    }
    .whole-body-container {
      margin: 0 auto;
      min-width: var(--mobile_width);
      .header-navigation {
        .logo {
        }
        .navigation-links-wrapper {
          display: none;
        }
        div.hamburger-menu {
          display: block;
          cursor: pointer;
        }
      }
      .banner-container {
        flex-direction: column-reverse;
        justify-content: space-evenly;
        margin-bottom: 5rem;
        .left-banner-container_section {
          width: 100%;
          margin-right: 0;
          text-align: center;
          margin-top: 4rem;
          .get-it-on-links {
            display: flex;
            align-items: center;
            justify-content: center;
            a {
              padding: 0.5rem;
              font-size: 14px;
            }
            a:first-of-type {
              margin-right: 1.3rem;
            }
          }
        }
        .right-banner-container_section {
          width: 100%;
          .iPad-xd-image-wrapper {
            img {
              width: 100%;
              min-width: 100px;
              height: auto;
              min-height: auto;
              max-height: auto;
            }
          }
          .iPad-xd-image-wrapper::after {
            height: clamp(9.375rem, calc(0.3944rem + 35.9223vw), 20.9375rem);
          }
        }
      }

      .feature-container {
        .feature-tabs {
          flex-direction: column;
          padding-right: 0;
          max-width: 100%;
          min-width: 100%;
          div.tab {
            width: 100%;
            border-bottom: 1px solid #e0e0e0;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }
        .individual-tab-details {
          height: max-content;
          min-height: 600px;
          article.tab-details {
            flex-direction: column;
            justify-content: center;
            .tab-details_left-section {
              height: 70%;
              min-height: 200px;
              img {
                height: 90%;
                width: auto;
                min-width: auto;
              }
            }
            .tab-details_left-section::after {
            }
            .tab-details_right-section {
              margin-top: 2.5rem;
              margin-left: 0;
              height: 30%;
              min-height: 200px;
              max-height: 250px;
              text-align: center;
            }
          }
        }
      }
      section.faq-container {
        div.questions-answers-container {
          width: 80%;
          min-width: 300px;
        }
      }
    }
    section.footer-section-container {
      div.footer-contact-us-wrapper {
        min-width: var(--mobile_width);
        height: max-content;
        min-height: 300px;
        h3 {
        }
        h2 {
        }
        form.contact-us-form {
          flex-direction: column;
          input {
            margin-right: 0;
          }
          button.form-submit-btn {
            margin-top: 1rem;
            width: 260px;
          }
        }
      }
    }
    section.footer-foot-wrapper {
      .footer-foot-wrapper_content {
        min-width: var(--mobile_width);
        flex-direction: column;
        .logo-wrapper {
          margin-bottom: 1.5rem;
        }
        .links-wrapper {
          margin-left: 0;
          flex-direction: column;
          .link {
            margin: 1rem 0;
            a {
              font-size: 20px;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 450px) {
  body {
    .whole-body-container {
      max-width: var(--mobile_width);
      .header-navigation {
        height: calc(100vh - 90vh);
        min-height: 90px;
        max-height: 100px;
      }
      .banner-container {
        height: 75vh;
        min-height: calc(900px - 200px);
        max-height: calc(1080px - 100px);
        margin-bottom: 0;
        .left-banner-container_section {
          h1.banner-title {
            font-size: 25px;
          }
          .get-it-on-links {
            display: flex;
            align-items: center;
            justify-content: space-between;
            a {
              padding: 0.5rem;
              font-size: 14px;
            }
            a:first-of-type {
              margin-right: 0;
            }
          }
        }
      }
      .feature-container {
        .feature-tabs {
        }
        .individual-tab-details {
          article.tab1-details {
            .tab-details_left-section {
              img {
                height: 65%;
              }
            }
          }
        }
      }
      .feature-container {
        margin: 5rem 0;
      }
      .download-extension-options-container {
        margin: 5rem 0;
      }
      section.faq-container {
        margin: 5rem 0;

        div.questions-answers-container {
          width: 100%;
          min-width: 100%;
        }
      }
    }
    section.footer-section-container {
      div.footer-contact-us-wrapper {
        max-width: var(--mobile_width);
        h3 {
          font-size: 14px;
        }
        h2 {
          font-size: 25px;
        }
      }
    }
    section.footer-foot-wrapper {
      .footer-foot-wrapper_content {
        max-width: var(--mobile_width);
      }
    }
  }
}
